@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
  --dark-green: #1a4a2e; 
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.font-serif-garamond {
  font-family: 'Cormorant Garamond', serif;
}